server:
  port: 8088

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/pims_springboot3?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: '12345678'
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  security:
    filter:
      order: -100
    jwt:
      key: abcdefghijk
      expire: 7
  mail:
    host: smtp.163.com
    username: linxy20040304@163.com
    password: PXILBFPDDKSNRFAI
  rabbitmq:
    addresses: localhost
    username: root
    password: 12345678
    virtual-host: /

knife4j:
  enable: true
  setting:
    language: zh_cn
  basic:
    enable: true
    username: root
    password: 12345678
